{% extends '../_inline_base.html' %}

{% block inline_header %}

<div class="easyui-panel" style="padding:5px;height:40px">
	<div style="padding:0px 5px;" >
		<div style="float:right">
			<a href="#" id="btn_edit_dep" class="easyui-linkbutton" data-options="disabled:true,plain:true,iconCls:'icon-edit'" onclick="editDepartment(g_depMap[g_selectedNodeId])">修改部门</a>
			<a href="#" id="btn_set_top_dep" class="easyui-linkbutton" data-options="disabled:true,plain:true,iconCls:'icon-edit'" onclick="setRootDepartment(g_selectedNodeId)">置顶部门</a>
			<a href="#" id="btn_delete" class="easyui-linkbutton" data-options="disabled:true,plain:true,iconCls:'icon-remove'" onclick="onDeleteNode()">删除</a>
		</div>
		<div>
			<a href="#" id="btn_add_root_dep" class="easyui-linkbutton" data-options="disabled:{{ !__perm_Edit__ }},plain:true,iconCls:'icon-add'" onclick="addRootDepartment()">新增顶级部门</a>
			<a href="#" id="btn_add_sub_dep" class="easyui-linkbutton" data-options="disabled:true,plain:true,iconCls:'icon-add'" onclick="addDepartment(g_depMap[g_selectedNodeId])">新增下级部门</a>
			<a href="#" id="btn_add_member" class="easyui-linkbutton" data-options="disabled:true,plain:true,iconCls:'icon-add'" onclick="addMember(g_depMap[g_selectedNodeId])">新增成员</a>
			<a href="#" id="btn_move_up" class="easyui-linkbutton" data-options="disabled:true,plain:true,iconCls:'icon-edit'" onclick="moveDepartment('up')">上移</a>
		</div>
		
	</div>
</div>
{% endblock %}

{% block inline_main %}
<ul id="structure_tree"></ul>
{% if __perm_Edit__ %}
{% include './widget/department_add.html' %}
{% include './widget/department_edit.html' %}
{% include './widget/member_add.html' %}
{% endif %}
{% endblock %}

{% block readyscript %}
<script type="text/javascript">
/***** Tree UI *****/
var g_departments, g_users, g_treedata;
var g_depMap={}, g_userMap={}, g_selectedNodeId='root';
var canEdit = {{ __perm_Edit__ }};

function isDepartment(id){
	return g_depMap[id] !== undefined;
}

function team_tree_getAncestor(nid){
	if( !isDepartment(nid) ){
		nid = g_userMap[nid].department;
	}
	var dep = g_depMap[nid];
	while( dep.parent !== 'root'){
		dep = g_depMap[ dep.parent];
	}
	return dep;
}

function team_tree_isAncestorChanged(nid, target_id){
	var old_ancestor = team_tree_getAncestor( nid );
	var new_ancestor = team_tree_getAncestor( target_id );
	return old_ancestor.id !== new_ancestor.id;
}

function resetButtonState(){
	$('#btn_add_sub_dep').linkbutton('disable');
	$('#btn_add_member').linkbutton('disable');
	$('#btn_move_up').linkbutton('disable');
	$('#btn_edit_dep').linkbutton('disable');
	$('#btn_delete').linkbutton('disable');
	$('#btn_set_top_dep').linkbutton('disable');
	if( !canEdit ){
		$('#btn_add_root_dep').linkbutton('disable');
	}
}

function _buildDep(data, dep, depNodeMap){
	var j;
	var n = {id:dep.id, text:dep.name, children:[]};
	depNodeMap[dep.id] = n;
	if( dep.parent === 'root'){//排序
		for( j = 0; j < data.length; j++ ){
			var d = g_depMap[data[j].id];
			if( dep.order < d.order){
				data.splice(j,0,n);
				break;
			}
		}			
		if( j == data.length)data.push(n);
	}else{
		//如果父机构未创建出来，则先创建父机构
		if( !depNodeMap.hasOwnProperty(dep.parent) ){
			_buildDep( data, g_depMap[dep.parent],depNodeMap);
		}
		var parent = depNodeMap[dep.parent];
		if( parent.children === undefined ){
			parent.children = [];
		}
		for( j = 0; j < parent.children.length; j++ ){
			var d = g_depMap[parent.children[j].id];
			if( dep.order < d.order){
				parent.children.splice(j,0,n);
				break;
			}
		}			
		if( j == parent.children.length)parent.children.push(n);
	}
}

/*构建树结构*/
function buildTreeData(){
	var data = [], i, j,depNodeMap={};

	for( i = 0; i < g_departments.length; i++ ){
		var dep = g_departments[i];
		g_depMap[dep.id] = dep;
	}

	//构建部门的树型结构
	for( i = 0; i < g_departments.length; i++ ){
		var dep = g_departments[i];
		if(depNodeMap.hasOwnProperty(dep.id)){
			continue;
		}
		_buildDep( data, dep, depNodeMap);
	}
	//将成员加到部门中
	for( i = 0; i < g_users.length; i++ ){
		var u = g_users[i];
		g_userMap[u.id] = u;
		var n = {id:u.id, text:u.name, iconCls:'icon-man'};
		var dep = depNodeMap[u.department];
		dep.children.unshift( n );
	}
	return data;
}
function loadUsers(){
	getJSON( '/api/team/department/users', function(err, result) {
		if( !err ){
			g_users = result;
			g_treedata = buildTreeData();
			$('#structure_tree').tree({
				data:g_treedata,
				dnd: canEdit,
				onSelect:team_tree_onSelect,
				{% if __perm_Edit__ %}
				onDragEnter:function(target,source){
					//禁用拖到成员类型的结点
					var node = $('#structure_tree').tree('getNode',target);
					if(isDepartment(node.id)){
						//不能跨大部门调整部门
						if( team_tree_isAncestorChanged(source.id, node.id)){
							if( ENV.user.username === 'Admin'){
								return true;
							}
							return false;
						}
						return true;
					}
					return false;
				},
				onDrop: function(target,source,point){
					var target_node = $('#structure_tree').tree('getNode',target);
					if( isDepartment(source.id) ){
						postJSON( '/api/team/department/'+source.id, {name: source.text, pid: target_node.id},function(err, result){
							if( !err ){
								onReload();
								showInfo( '修改部门成功。');
							}else{
								showErrorInfo( "修改部门失败", err.message );
							}
						});
					}else{
						postJSON( '/api/team/member/u/'+source.id, {department: target_node.id},function(err, result){
							if( !err ){
								onReload();
								showInfo( '指定成员新部门成功。');
							}else{
								showErrorInfo( "指定成员新部门失败", err.message );
							}
						});
					}
				}
				{% endif %}
			});
			//自动选中上一次结果
			if( g_selectedNodeId !== 'root' ){
				var node = $('#structure_tree').tree('find', g_selectedNodeId);
				if( node ){
					$('#structure_tree').tree('select', node.target);
				}else{
					g_selectedNodeId = 'root';
					resetButtonState();
				}
			}
		}
	})	
}

function team_tree_onSelect(node){
	g_selectedNodeId = node.id;
	if( !canEdit ){
		return;
	}
	if( isDepartment(node.id)){
		$('#btn_add_sub_dep').linkbutton('enable');
		$('#btn_add_member').linkbutton('enable');
		$('#btn_edit_dep').linkbutton('enable');
		var order = g_depMap[g_selectedNodeId].order;
		if( order==1){
			$('#btn_move_up').linkbutton('disable');
		}else{
			$('#btn_move_up').linkbutton('enable');
		}
		if( g_depMap[g_selectedNodeId].parent=='root'){
			$('#btn_set_top_dep').linkbutton('disable');
		}else{
			$('#btn_set_top_dep').linkbutton('enable');
		}
	}else{
		$('#btn_add_sub_dep').linkbutton('disable');
		$('#btn_add_member').linkbutton('disable');
		$('#btn_move_up').linkbutton('disable');
		$('#btn_edit_dep').linkbutton('disable');
		$('#btn_set_top_dep').linkbutton('disable');
	}
	if($('#structure_tree').tree('isLeaf', node.target) && ( node.id !== ENV.user.id || ENV.user.username === 'Admin' )){
		$('#btn_delete').linkbutton('enable');
	}else{
		$('#btn_delete').linkbutton('disable');
	}
}

function loadDeparments(){
	getJSON( '/api/team/department/list', function(err, result) {
		if( !err ){
			loadUsers();
			g_departments = result;
		}			
	})	
}

function team_tree_onInit(){
	loadDeparments();
}
$(team_tree_onInit);

/*********Action***************/
function onReload(){
	team_tree_onInit();
}
{% if __perm_Edit__ %}
function addRootDepartment(){
	addDepartment({id:'root', name:'无'});
}
function onDeleteNode(){
	$.messager.confirm('注意', '真的要删除该结点吗?', function(r){
		if (r){
			if( isDepartment(g_selectedNodeId)){
				postJSON( '/api/team/department/'+g_depMap[g_selectedNodeId].id+'/delete', function(err, result){
					if( !err ){
						showInfo( '删除部门成功。');
						onReload();
					}else{
						showErrorInfo( "删除部门失败", err.message );
					}
				});
			}else{
				postJSON( '/api/team/member/u/'+g_selectedNodeId, {department:''}, function(err, result){
					if( !err ){
						showInfo( '删除成员成功。');
						onReload();
					}else{
						showErrorInfo( "删除成员失败", err.message );
					}
				});
			}
		}
	});	
}
/*向上或向下移动节点*/
function moveDepartment(action){
	postJSON( '/api/team/department/'+g_depMap[g_selectedNodeId].id+'/order', {action:action}, function(err, result){
		if( !err ){
			showInfo( '移动成功。');
			onReload();
		}else{
			showErrorInfo( "移动失败", err.message );
		}
	});
}
/*置项部门*/
function setRootDepartment(id){
	postJSON( '/api/team/department/'+id, {name: g_depMap[id].name, pid: 'root'},function(err, result){
		if( !err ){
			onReload();
			showInfo( '修改部门成功。');
		}else{
			showErrorInfo( "修改部门失败", err.message );
		}
	});
}
{% endif %}
</script>
{% endblock %}
