{% extends '../_base.html' %}


{% block main %}
<div id="tt" class="easyui-tabs" data-options="fit:true,border:false,onSelect:project_onSelectTab">
	<div title="项目" style="padding:10px" data-options="href:'/project/p'">		   
	</div>
	<div title="任务" style="padding:10px" data-options="href:'/project/task'">
	</div>
	<div title="我的工作日志" style="padding:10px;" data-options="href:'/project/daily'"></div>
	<div title="团队的工作日志" style="padding:10px;" data-options="href:'/project/daily/team'"></div>
</div>
<script type="text/javascript">
var project_opened;

function view_project(p){
	if( !!project_opened ){
		var tab_title = '项目：'+ project_opened.name;
		var new_title = '项目：' + p.name;
		var tab = $('#tt').tabs('getTab',tab_title);
		$('#tt').tabs('update', {
			tab: tab,
			options: {
				title: new_title,
				href: ''
			}
		});
		$('#tt').tabs('select', new_title );
		console.log("1111")
		//$('#tt').tabs('close',tab_title);
		//tab.panel('destroy', true);
		//$('#project_build_block').panel('destroy', true);
		//$('#project_build_block').remove();
		gpb_set_project_id(p.id);
		gpb_page_init();
		project_opened = p;
		return;
	}

	var title = '项目：'+ p.name;
	project_opened = p;
	$('#tt').tabs('add',{
		title: '项目：'+ p.name,
		href: '/project/p/'+ p.id +'/build',
		closable: true,
		collapsible:true,
		/*onBeforeClose:function(title,index){
			if( !!project_opened ){
				var t = '项目：'+ project_opened.name;
				project_opened = null;
				$('#tt').tabs('close', t );
				return false;
			}
			return true;
		},*/
		onClose:function(title,index){			
		}
	});
}

/*
var project_tabs = [
	{loaded:false, url:'/project/p'},
	{loaded:false, url:'/project/task'},
	{loaded:false, url:'/project/daily'},
	{loaded:false}
];*/
function project_onSelectTab(title,index){
	if(title==='我的工作日志'){
		if( window.hasOwnProperty('mydaily_reload')){
			mydaily_reload();
		}
	}
	/*var to = project_tabs[index];
	if( !to.loaded ){
		var tab = $('#tt').tabs('getTab', index );
		$('#tt').tabs('update', { tab:tab, options:{href: to.url }});
		tab.loaded = true;
	}*/
}

var gpb_difficultyMap = {
	0: '简单',
	1: '普通',
	2: '困难',
	99: '无需执行'
};

var TASKACTIONMAP = {
	confirm: '确认要求',
	understand: '已理解要求',
	accept: '接收任务',
	reply: '回复',
	commit: '提交',
	pause: '暂停执行',
	cancel: '取消任务',
	complete: '完成',
	reopen: '继续执行',
	resume: '恢复执行'
};
var ActionOnStatus = {
	created: {
		executor: ['reply'],
		manager: ['confirm', 'reply', 'cancel']
	},
	clear: {
		executor: ['accept', 'reply'],
		manager: ['reply', 'cancel']
	},/*
	understood: {
		executor: ['accept', 'reply'],
		manager: ['reply', 'cancel']
	},*/
	doing: {
		executor: ['commit', 'reply'],
		manager: ['reply', 'pause', 'cancel']
	},
	commit: {
		executor: ['reply'],
		manager: ['complete', 'reopen', 'reply']
	},
	pending: {
		executor: ['reply'],
		manager: ['resume', 'cancel', 'reply']
	},
	cancel: {
		executor: ['reply'],
		manager: ['reply']
	},
	completed: {
		executor: ['reply'],
		manager: ['reply']
	}
};
</script>
{% endblock %}

