{% extends '../_inline_base.html' %}
{% block inline_header %}
<div class="easyui-panel" style="padding:5px;height:40px;">
	<div style="float:right">
		<a href="#" id="project_btn_new_project" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add',disabled:{{ !__perm_Create }}" onclick="new_project()">新建</a>
		<a href="#" id="project_btn_edit_project" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit',disabled:true" onclick="onEditProject()">修改</a>
		<a href="#" id="project_btn_set_member" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit',disabled:true" onclick="onSetProjectMember()">设置团队</a>
	</div>
	<div>
		<span>过滤器：</span>
		<select id="project-filter" class="easyui-combobox" name="project-filter" style="width:80px;" data-options="onChange:project_onFilterChange">
			<option value="mine">我参与的</option>
			<option value="all">所有的</option>
		</select>
		<input id="cb_toggle_history" type="checkbox" style="margin-left:20px;" onclick="project_toggle_show_history()"><span>查看历史项目</span>
	</div>
</div>
{% endblock %}

{% block inline_main %}
<div class="easyui-panel" data-options="fit:true,border:false">
	<table id="project-dg" class="easyui-datagrid" title="我正参与的项目" 
			data-options="fit:true,singleSelect:true,fitColumns:true,pagination:true,url:'/api/project/p/myDoing',method:'get',onSelect:project_dg_onSelect,onDblClickRow:project_dg_onDblClick">
		<thead>
			<tr>
				<th data-options="field:'name',width:160">名称</th>
				<th data-options="field:'master_name',width:100">负责人</th>
				<th data-options="field:'start_time',width:80,formatter:formatter_second_dg">开始时间</th>
				<th data-options="field:'end_time',width:80,formatter:formatter_second_dg">结束时间</th>
			</tr>
		</thead>
	</table>
</div>
{% include './widget/new_project.html' %}
{% include './widget/edit_project.html' %}
{% include './widget/project_set_member.html' %}

<script type="text/javascript">
/***view pager***/
ENV.user.perm = {};
ENV.user.perm.PERM_CREATE_PROJECT={{ __perm_Create }};
var gp_isHistory = false, gp_isMime = true;

function project_list_reload(){
	$('#project-dg').datagrid('reload');
}
function project_list_reset_url(){
	if( gp_isHistory ){
		$('#project-dg').datagrid('getPanel').panel('setTitle', gp_isMime?'我参与的历史项目':'所有已完成的历史项目');
		$('#project-dg').datagrid('options').url = gp_isMime?'/api/project/p/myHistory':'/api/project/p/allHistory';

	}else{
		$('#project-dg').datagrid('getPanel').panel('setTitle', gp_isMime?'我正参与的项目':'所有正在执行的项目');
		$('#project-dg').datagrid('options').url = gp_isMime?'/api/project/p/myDoing':'/api/project/p/allDoing';
	}
}
function project_toggle_show_history(){
	gp_isHistory = $('#cb_toggle_history').is(':checked');
	project_list_reset_url();
	project_list_reload();
}
function project_onFilterChange(newValue,oldValue){
	gp_isMime = newValue === 'mine';
	project_list_reset_url();
	project_list_reload();
	project_onResetUI();
}

function onEditProject(){
	var row = $('#project-dg').datagrid('getSelected');
	edit_project(row);
}
function onSetProjectMember(){
	var row = $('#project-dg').datagrid('getSelected');
	edit_project_member(row);
}
function project_onResetUI(){
	$('#project_btn_edit_project').linkbutton('disable');
	$('#project_btn_set_member').linkbutton('disable');	
}

function project_dg_onSelect(index,row){
	if( row.master_id == ENV.user.id ){
		$('#project_btn_edit_project').linkbutton('enable');
		$('#project_btn_set_member').linkbutton('enable');
	}else{
		$('#project_btn_edit_project').linkbutton('disable');
		$('#project_btn_set_member').linkbutton('disable');
	}
}

function project_dg_onDblClick(index,row){
	view_project(row)
	/*var title = '项目：'+ row.name;
	var tab = $('#tt').tabs('getTab', title );
	if( !tab ){
		$('#tt').tabs('add',{
			title: '项目：'+ row.name,
			href: '/project/p/'+ row.id +'/build',
			closable: true
		});
	}*/
}

function project_onReady(){
	
}
$(project_onReady);

</script>
{% endblock %}
