<script src="/static/js/treegrid-dnd.js"></script>
<div class="easyui-layout" data-options="fit:true,border:false">
	<div data-options="region:'north',border:false" style="padding:5px">
		<div class="easyui-panel" style="padding:5px;height:40px;">
			<div style="float:right">
				<a href="#" id="pb_btn_toggle_milestone" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit',disabled:true" onclick="pb_onToggleMilestone()"><span id="pb_span_toggle_milestone">设置为里程碑</span></a>
				<a href="#" id="pb_btn_set_member" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit',disabled:true" onclick="pb_onSetProjectMember()">设置团队</a>
				<a href="#" id="pb_btn_task_up" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit',disabled:true" onclick="pb_task_move('up')">上移</a>
				<a href="#" id="pb_btn_task_down" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit',disabled:true" onclick="pb_task_move('down')">下移</a>
				<a href="#" id="pb_btn_set_parent_as_root" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit',disabled:true" onclick="pb_set_task_parent_root()">置为项级</a>
			</div>
			<div>
				<a href="#" id="project_btn_new_task_root" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add',disabled:true" onclick="new_task('root')">顶级任务</a>
				<a href="#" id="project_btn_new_brother_task" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add',disabled:true" onclick="new_task(gpb_select_node.parent)">同级任务</a>
				<a href="#" id="project_btn_new_subtask" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-add',disabled:true" onclick="new_task(gpb_select_node.id)">下属任务</a>
				<a href="#" id="pb_btn_edit_task" class="easyui-linkbutton" data-options="plain:true,iconCls:'icon-edit',disabled:true" onclick="pb_edit_task(gpb_select_node.id)">修改任务</a>
			</div>
		</div>
	</div>
	<div data-options="region:'center',border:false" style="padding:5px" >
		<table id="pb_tg" class="easyui-treegrid" 
			data-options="
				rownumbers: true,
				fitColumns:true,
				idField: 'id',
				treeField: 'name',
				fit:true,
				onSelect:pb_tg_onSelect,
				onLoadSuccess: pb_tg_onLoadSuccess,
				onDrop:pb_tg_onDrop,
				onDragOver:pb_tg_onDragOver,
				onDblClickRow:pb_tg_onDblClick
			">
			<thead>
				<tr>
					<th data-options="field:'name',formatter:pb_formatter_name" width="400">任务名称</th>
					<th data-options="field:'status',formatter:pb_formatter_status" width="80">状态</th>
					<th data-options="field:'executor_id',formatter:pb_formatter_executor" width="80" >负责人</th>
					<th data-options="field:'manager_id',formatter:pb_formatter_manager" width="80" >工作审核人</th>
					<th data-options="field:'planmode',formatter:pb_formatter_automode" width="70">计划模式</th>
					<th data-options="field:'rely',formatter:pb_formatter_rely" width="80" >前置任务</th>
					<th data-options="field:'plan_start_time',formatter:formatter_second_dg" width="90">计划开始时间</th>
					<th data-options="field:'plan_end_time',formatter:formatter_second_dg" width="90">计划结束时间</th>
					<th data-options="field:'start_time',formatter:pb_formatter_start_time" width="90">实际开始时间</th>
					<th data-options="field:'end_time',formatter:pb_formatter_end_time" width="90">实际结束时间</th>
					<th data-options="field:'plan_duration',formatter:pb_formatter_plan_duration" width="70">计划工时</th>
					<th data-options="field:'duration', formatter:pb_formatter_duration" width="70">实际工时</th>
					<th data-options="field:'difficulty',formatter:pb_formatter_difficulty" width="70">难度</th>
				</tr>
			</thead>
		</table>
	</div>
</div>

{% include './widget/new_task.html' %}
{% include './widget/edit_task.html' %}
{% include './widget/task_detail.html' %}

<script type="text/javascript">
var gpb_project_id = "{{ __id }}";
var gpb_project, gpb_select_node, gpb_tasks, gpb_relies;
var gpb_tg_id = '#pb_tg';
var gpb_userMap = {};
var gpb_taskMap = {'root':{id:'root',name:'无', mark:0}};
var gpb_sortTasks = [];

var gpb_has_perm_edit = {{ __perm_Edit_ }};

function pb_project_is_close(){
	return gpb_project.status === 'end';
}

function pb_init_btn_status(){
	if( pb_project_is_close() ){
		$('#project_btn_new_task_root').linkbutton( 'disable');
		$('#pb_btn_set_member').linkbutton( 'disable');
	}
	$('#project_btn_new_subtask').linkbutton( 'disable');//里程碑任务必须是叶结点
	$('#project_btn_new_brother_task').linkbutton( 'disable');
	$('#pb_btn_edit_task').linkbutton('disable');
	$('#pb_btn_task_up').linkbutton('disable');
	$('#pb_btn_task_down').linkbutton('disable');
	$('#pb_btn_set_parent_as_root').linkbutton('disable');	
	$('#pb_btn_toggle_milestone').linkbutton('disable');	
}

function pb_load_rely_data(){
	getJSON( '/api/project/p/'+ gpb_project_id +'/taskrelylist', function(err, data ){
			if(!err){
				data.forEach( function(r, index) {
					var task = gpb_taskMap[r.task_id];
					if( task ){
						task.rely.push(r.rely_task_id);
					}
				});
				gpb_relies = data;
				$(gpb_tg_id).treegrid('loadData', {"total":gpb_tasks.length,"rows":gpb_tasks});
				$(gpb_tg_id).treegrid('loaded');
			}
		}
	);
}

function pb_load_data(){
	getJSON( '/api/project/p/'+gpb_project_id + '/tasklist', function(err, data){
		if(!err){
			for( var i = 0; i < data.length; i++ ){
				var t = data[i];
				gpb_taskMap[t.id] = t;
				if( t.parent != 'root'){
					t['_parentId'] = t.parent;
				}
				t.rely = [];
			}
			gpb_tasks = data;
			pb_load_rely_data();
		}
	});	
	pb_init_btn_status();
}

function pb_init_data(){
	gpb_project = undefined;
	gpb_select_node = undefined;
	gpb_tasks = undefined;
	gpb_relies = undefined;
 	gpb_userMap = {};
	gpb_taskMap = {'root':{id:'root',name:'无', mark:0}};
	gpb_sortTasks = [];
}

function gpb_set_project_id(id){
	gpb_project_id = id;
}

function gpb_page_init(){
	gpb_has_perm_edit = false;
	pb_init_data();
	getJSON( '/api/project/p/'+gpb_project_id, function(err, data){
		if(!err){
			$('#project_btn_new_task_root').linkbutton('disable');
			$('#pb_btn_set_member').linkbutton( 'disable');
			
			gpb_project = data;
			var ms = data.members;
			ms.sort(sort_email);
			for(var i = 0; i < ms.length; i++ ){
				var m = ms[i];
				gpb_userMap[m.user_id] = m;
				if( m.user_id === ENV.user.id){
					var manager_roles = ['master', 'leader', 'manager'];
					$('#pb_btn_set_member').linkbutton( m.role == 'master' || m.role == 'leader' ? 'enable' : 'disable');
					if( manager_roles.indexOf(m.role) !== -1 ){
						$('#project_btn_new_task_root').linkbutton('enable');
						gpb_has_perm_edit = true;
					}
				}
			}
		}
		$(gpb_tg_id).treegrid('loading');
		pb_load_data();
	});
}

$(gpb_page_init);

function pb_is_empty_task(t){
	return t.difficulty===99;
}
function pb_formatter_name(value,row,index){
	return row.milestone === 1 ? '<span style="color:#e28327">' + value + '</span>' : value;
}
function pb_formatter_executor(value,row,index){
	var u = gpb_userMap[value];
	if( u ){
		return u.name;
	}
}
function pb_formatter_manager(value,row,index){
	var u = gpb_userMap[value];
	if( u ){
		return u.name;
	}
	return "";
}
function pb_formatter_plan_duration(value, row){
	return pb_is_empty_task(row)?'--':value;
}
function pb_formatter_duration(value,row){
	if( pb_is_empty_task(row) ) return '--';
	return row.duration;
}
function pb_formatter_rely(value,row){
	if( value.length == 0 ){
		return '无';
	}else{
		if( gpb_sortTasks.length > 0 ){
			var rs = [];
			for(var i = 0; i < value.length; i++){
				rs.push(gpb_taskMap[value[i]].mark);
			}
			return rs.toString();
		}
	}	
}
function pb_formatter_automode(value,row,index){
	return row.automode === 0 ? '自动' : '手动';
}
function pb_formatter_plan_start_time(value,row,index){
	return pb_is_empty_task(row)?'--': formatter_second_dg(value);
}
function pb_formatter_plan_end_time(value,row,index){
	return pb_is_empty_task(row)?'--': formatter_second_dg(value);
}
function pb_formatter_start_time(value,row,index){
	if( pb_is_empty_task(row) ) return '--';
	return row.start_time === 0 ? '无' : formatter_second_dg(row.start_time);
}
function pb_formatter_end_time(value,row,index){
	if( pb_is_empty_task(row) ) return '--';
	return row.end_time === 0 ? '无' : formatter_second_dg(row.end_time);
}
function pb_formatter_difficulty(value,row,index){
	return gpb_difficultyMap[value];
}
function pb_getTaskRelyMark(tid){
	var task = gpb_taskMap[tid];
	var rely = task.rely;
	var marks = [];
	for( var i = 0; i < rely.length; i++ ){
		marks.push( gpb_taskMap[rely[i]].mark );
	}
	return marks;
}
function pb_showRelyTask(){
	for( var i = 1; i < gpb_sortTasks.length; i++ ){
		var t = gpb_sortTasks[i];
		if( t.rely.length > 0 ){
			$(gpb_tg_id).treegrid('refresh',t.id);
		}
	}
}
function pb_makeMark(data,index){
	for(var i = 0; i < data.length; i++ ){
		index++;
		var o = data[i];
		var t = gpb_taskMap[o.id];
		t.mark = index;
		gpb_sortTasks[index] = t;		

		if( o.hasOwnProperty('children')){
			index = pb_makeMark(o.children, index);
		}
	}
	return index;
}

function pb_tg_resetMark(){
	var data = $(gpb_tg_id).treegrid('getData');
	gpb_sortTasks = [];
	pb_makeMark(data, 0);
	pb_showRelyTask();
}
function pb_tg_onLoadSuccess(row){
	$(this).treegrid('enableDnd', row?row.id:null);
	pb_tg_resetMark();
	if( !!gpb_select_node ){
		$(gpb_tg_id).treegrid('select', gpb_select_node.id);
	}
}

function pb_tg_onSelect(row){
	if( row ){
		gpb_select_node = row;
		if( gpb_has_perm_edit && !pb_project_is_close() ){
			$('#project_btn_new_task_root').linkbutton('enable');
			$('#project_btn_new_subtask').linkbutton( row.milestone ?'disable': 'enable');//里程碑任务必须是叶结点
			$('#project_btn_new_brother_task').linkbutton( row.milestone ?'disable': 'enable');
			
			if( row.manager_id === ENV.user.id || gpb_project.master_id === ENV.user.id){
				$('#pb_btn_edit_task').linkbutton( (row.status === 'completed' || row.status === 'cancel')?'disable':'enable');
			}else{
				$('#pb_btn_edit_task').linkbutton( 'disable');
			}
			
			$('#pb_btn_task_up').linkbutton('enable');
			$('#pb_btn_task_down').linkbutton('enable');
			
			if( row.hasOwnProperty('_parentId')){
				$('#pb_btn_set_parent_as_root').linkbutton('enable');
			}else{
				$('#pb_btn_set_parent_as_root').linkbutton('disable');
			}

			if( gpb_project.master_id === ENV.user.id ){
				if( gpb_isLeaf( row.id ) ){
					$('#pb_btn_toggle_milestone').linkbutton('enable');
					$('#pb_span_toggle_milestone').text(row.milestone?'取消里程碑设置':'设置为里程碑');
				}
			}	
		}
	}
}

function pb_onToggleMilestone(){
	var t = gpb_select_node;
	
	postJSON( '/api/project/task/'+ t.id + '/milestone/toggle', {}, function(err, result){
		if( !err ){
			showInfo( '任务修改成功。');
			gpb_updateTask(t.id);
			$('#pb_span_toggle_milestone').text(t.milestone?'设置为里程碑':'取消里程碑设置');			
		}else{
			showErrorInfo( "任务修改失败", err.message );
		}
	});
}

function pb_tg_onDrop(targetRow,sourceRow,point){
	postJSON( '/api/project/task/'+sourceRow.id+'/move', {action:'update_parent',parent:targetRow.id}, function(err, result){
		if( !err ){
			showInfo( '更新任务成功。');
			var t = gpb_taskMap[sourceRow.id];
			var orgParentId = t.parent;
			
			t.parent = targetRow.id;
			pb_tg_resetMark();
			gpb_resetParentTaskTime(t);//更新新任务列表祖先节点的时间点
			if( orgParentId != 'root' ){
				var orgParent = gpb_taskMap[t.parent];
				gpb_resetTaskTime(orgParent);
				gpb_resetParentTaskTime(orgParent);
			}			
		}else{
			showErrorInfo( "更新任务失败", err.message );
		}
	});
}

function pb_tg_onDragOver(targetRow, sourceRow){
	return !targetRow.milestone;
}

function pb_tg_onDblClick(row){
	pb_view_task(row.id);
}

function pb_onMemberChanged(){
	getJSON( '/api/project/p/'+gpb_project_id, function(err, data){
		if(!err){
			gpb_project = data;
			gpb_userMap = {};
			var ms = data.members;
			for(var i = 0; i < ms.length; i++ ){
				var m = ms[i];
				gpb_userMap[m.user_id] = m;
				if( m.user_id === ENV.user.id){
					$('#pb_btn_set_member').linkbutton( m.role == 'executor' ? 'disable' : 'enable');
				}
			}
		}
	});	
}


function pb_onSetProjectMember(){
	gpb_project.onMemberChanged = pb_onMemberChanged;
	edit_project_member(gpb_project);
}

function pb_task_move(action){
	postJSON( '/api/project/task/'+gpb_select_node.id+'/move', {action:action}, function(err, result){
			if( !err ){
				showInfo( '更新任务成功。数据将重新加载。');
				pb_load_data();
			}else{
				showErrorInfo( "更新任务失败", err.message );
			}
	});
}
function pb_set_task_parent_root(){	
	postJSON( '/api/project/task/'+gpb_select_node.id+'/move', {action:'update_parent',parent:'root'}, function(err, result){
			if( !err ){
				showInfo( '更新任务成功。');
				var t = $(gpb_tg_id).treegrid('pop',gpb_select_node.id);
				$(gpb_tg_id).treegrid('append',{
					data:[t]
				});
				$(gpb_tg_id).treegrid('select',gpb_select_node.id);
				$(gpb_tg_id).treegrid('enableDnd',gpb_select_node.id);
			}else{
				showErrorInfo( "更新任务失败", err.message );
			}
	});
}


function gpb_isLeaf( tid ){
	var children = $(gpb_tg_id).treegrid('getChildren', tid);
	if( children && children.length > 0 ){
		return false;
	}
	return true;
}


function gpb_resetTaskTime(task){
	var children = $(gpb_tg_id).treegrid("getChildren");
	if( children && children.length > 0 ){
		var start_time = children[0].plan_start_time;
		var end_time = children[0].plan_end_time;
		for( var i = 1; i < children.length; i++ ){
			var c = children[i];
			if( start_time > c.plan_start_time ){
				start_time = c.plan_start_time;
			}
			if( end_time < c.plan_end_time ){
				end_time = c.plan_end_time;
			}
		}
		if( start_time != task.plan_start_time || end_time != task.plan_end_time ){
			var updatedata = [{id:task.id,plan_start_time:start_time, plan_end_time:end_time}];
			postJSON( '/api/project/tasklist/updateplan', updatedata, function(err, result){
			if( err ){
				showErrorInfo( "自动更新父任务时间失败", err.message );
			}
		});
		}
	}	
}


function gpb_isParentTask(tid, task){
	while( task.parent != 'root'){
		var parent = gpb_taskMap[task.parent];
		if( tid == parent.id ){
			return true;
		}
		task = parent;
	}
	return false;
}

function gpb_resetParentTaskTime(task){
	var updatedata = [];
	while( task.parent != 'root'){
		var parent = gpb_taskMap[task.parent];		
		var isChanged = false;

		//父任务时间段需要与所有子任务的时间段一致
		var children = $(gpb_tg_id).treegrid('getChildren', parent.id);
		var t = children[0];
		var start_time = t.plan_start_time;
		var end_time = t.plan_end_time;
		for( var i = 1; i < children.length; i++ ){
			t = children[i];
			if( t.plan_start_time < start_time ){
				start_time = t.plan_start_time;
			}
			if( t.plan_end_time > end_time ){
				end_time = t.plan_end_time;
			}
		}

		if( parent.plan_start_time !== start_time || parent.plan_end_time !== end_time ){
			parent.plan_start_time = start_time;
			parent.plan_end_time = end_time;
			isChanged = true;
		}

		if( isChanged ){
			updatedata.push({id:parent.id,plan_start_time:parent.plan_start_time, plan_end_time:parent.plan_end_time});
			$(gpb_tg_id).treegrid('refresh',parent.id);
		}
		task = parent;
	}

	if( updatedata.length > 0 ){
		postJSON( '/api/project/tasklist/updateplan', updatedata, function(err, result){
			if( !err ){
				//showInfo( '更新任务成功。');
			}else{
				showErrorInfo( "自动更新祖先任务时间失败", err.message );
			}
		});
	}
}


function gpb_getNextWorkDay(start_time, days){
	var d = new Date(start_time);
	var day = d.getDay();
	var weeks = Math.floor(days/5);
	var wds = days%5;
	var total_ds = weeks * 7;
	if( day + wds > 5 ){
		total_ds += day + wds - 5 + 2;		
	}else{
		total_ds += wds;
	}
	d.setDate( d.getDate() + total_ds );
	return d.getTime();
}

function _gpb_resetParentTaskTime(tid, updatedata, uddmap){
	var task =  gpb_taskMap[tid];
	while( task.parent != 'root'){
		var parent = gpb_taskMap[task.parent];
		var children = $(gpb_tg_id).treegrid('getChildren', parent.id);
		var isChanged = false;
		var t = children[0];
		var start_time = t.plan_start_time;
		var end_time = t.plan_end_time;
		for( var i = 1; i < children.length; i++ ){
			t = children[i];
			if( t.plan_start_time < start_time ){
				start_time = t.plan_start_time;
			}
			if( t.plan_end_time > end_time ){
				end_time = t.plan_end_time;
			}
		}

		if( parent.plan_start_time !== start_time || parent.plan_end_time !== end_time ){
			parent.plan_start_time = start_time;
			parent.plan_end_time = end_time;
			isChanged = true;
		}

		if( isChanged ){
			var record;
			if( uddmap.hasOwnProperty(parent.id)){
				record = uddmap[parent.id];
				record.plan_start_time = parent.plan_start_time;
				record.plan_end_time = parent.plan_end_time;
			}else{
				record = {id:parent.id,plan_start_time:parent.plan_start_time, plan_end_time:parent.plan_end_time};
				updatedata.push(record);
				uddmap[parent.id] = record;
			}
		}
		task = parent;
	}
}

function _gpb_resetReliedTaskTime(tid, updatedata, uddmap){
	var ts = [];
	var task = gpb_taskMap[tid];
	var i, j, record;
	var nts = [];
	for( i = 0; i < gpb_relies.length; i++ ){
		var r = gpb_relies[i];
		if( r.rely_task_id === tid){
			ts.push( r.task_id );
		}
	}
	for( i = 0; i < ts.length; i++ ){
		var t = gpb_taskMap[ts[i]];
		if( !!t.milestone ){
			continue;//里程碑任务的时间是不能修改的
		}

		var start_time = gpb_getNextWorkDay( task.plan_end_time, 1 );
		var end_time = gpb_getNextWorkDay(start_time, (Math.ceil(t.plan_duration/8)-1));
		if( t.plan_start_time != start_time || t.plan_end_time != end_time){			
			if( uddmap.hasOwnProperty(t.id)){
				t.plan_start_time = Math.max(start_time,t.plan_start_time);
				t.plan_end_time = Math.max(end_time,t.plan_end_time);
				record = uddmap[t.id];
				record.plan_start_time = t.plan_start_time;
				record.plan_end_time = t.plan_end_time;
			}else{
				var needChanged = true;
				for( j = 0; j < t.rely.length; j++ ){
					var r_task = gpb_taskMap[t.rely[j]];
					if( gpb_getNextWorkDay( r_task.plan_end_time, 1) > start_time ){
						needChanged = false;
					}
				}
				if( needChanged ){
					t.plan_start_time = start_time;
					t.plan_end_time = end_time;
					record = {id:t.id,plan_start_time:t.plan_start_time, plan_end_time:t.plan_end_time};
					updatedata.push(record);
					uddmap[t.id] = record;
				}				
			}
			nts.push(ts[i]);
		}
	}

	for( i = 0; i < nts.length; i++ ){
		_gpb_resetParentTaskTime( nts[i], updatedata, uddmap );
		_gpb_resetReliedTaskTime( nts[i], updatedata, uddmap );
	}
}


function gpb_resetReliedTaskTime(tid){
	var updatedata = [];
	var uddmap = {};
	_gpb_resetReliedTaskTime( tid, updatedata, uddmap );
	if( updatedata.length > 0 ){
		postJSON( '/api/project/tasklist/updateplan', updatedata, function(err, result){
			if( err ){
				showErrorInfo( "自动更新父任务时间失败", err.message );
			}else{
				for( var i = 0; i < updatedata.length; i++ ){
					$(gpb_tg_id).treegrid('refresh',updatedata[i].id);
				}
			}
		});
	}
}

function gpb_getChangedTaskTime(task, updatedata, uddmap){
	var ts = [];
	var i, j,record;
	var nts = [];
	for( i = 0; i < gpb_relies.length; i++ ){
		var r = gpb_relies[i];
		if( r.rely_task_id === task.id){
			ts.push( r.task_id );
		}
	}
	for( i = 0; i < ts.length; i++ ){
		var tid = ts[i];
		var t = gpb_taskMap[tid];
		var org_plan_start_time = t.plan_start_time;
		var org_plan_end_time = t.plan_end_time;
		if( uddmap.hasOwnProperty(tid)){//若计划更新，则使用更新的记录
			var tr = uddmap[tid];
			org_plan_start_time = tr.plan_start_time;
			org_plan_end_time = tr.plan_end_time;
		}

		var start_time = gpb_getNextWorkDay(task.plan_end_time,1);
		if( uddmap.hasOwnProperty(task.id) ){
			start_time = gpb_getNextWorkDay( uddmap[task.id].plan_end_time, 1);
		}
		var end_time = gpb_getNextWorkDay(start_time,(Math.ceil(t.plan_duration/8)-1));
		if( org_plan_start_time != start_time || org_plan_end_time != end_time){		
			if( uddmap.hasOwnProperty(tid)){
				record = uddmap[tid];
				record.plan_start_time = Math.max(start_time,org_plan_start_time);
				record.plan_end_time = Math.max(end_time,org_plan_end_time);
			}else{
				var needChanged = true;
				for( j = 0; j < t.rely.length; j++ ){
					var r_task = gpb_taskMap[t.rely[j]];
					var r_task_plan_end_time = r_task.plan_end_time;
					if( uddmap.hasOwnProperty(r_task.id)){
						r_task_plan_end_time = uddmap[r_task.id].plan_end_time;
					}
					if( gpb_getNextWorkDay(r_task_plan_end_time,1) > start_time ){
						needChanged = false;
					}
				}
				if( needChanged ){
					record = {id:tid,plan_start_time:start_time, plan_end_time:end_time};
					updatedata.push(record);
					uddmap[tid] = record;
				}
			}
			nts.push(tid);
		}
	}

	for( i = 0; i < nts.length; i++ ){
		gpb_getChangedTaskTime( gpb_taskMap[nts[i]], updatedata, uddmap );
	}
}

function gpb_appendTask(tid){
	getJSON( '/api/project/task/'+tid, function(err, task){
		if(!err){
			gpb_taskMap[task.id] = task;
			gpb_tasks.push( task );
			for(var i = 0; i < task.rely.length; i++ ){
				gpb_relies.push({task_id:tid, rely_task_id:task.rely[i]});
			}

			$(gpb_tg_id).treegrid('append',{
				parent: task.parent=='root'?'':task.parent, 
				data: [task]
			});
			$(gpb_tg_id).treegrid('enableDnd',tid);
			pb_tg_resetMark();
			gpb_resetParentTaskTime(task);
		}
	});
}

function gpb_updateTask(tid, callback){
	getJSON( '/api/project/task/'+tid, function(err, data){
		if(!err){
			var task = gpb_taskMap[tid];
			task.name = data.name;
			task.status = data.status;
			task.plan_start_time = data.plan_start_time;
			task.plan_end_time = data.plan_end_time;
			task.start_time = data.start_time;
			task.end_time = data.end_time;
			task.duration = data.duration;
			task.automode = data.automode;
			task.plan_duration = data.plan_duration;
			task.difficulty = data.difficulty;
			task.details = data.details;
			task.executor_id = data.executor_id;
			task.manager_id = data.manager_id;
			task.executor_name = gpb_userMap[data.executor_id].name;
			task.manager_name = gpb_userMap[data.manager_id].name;
			task.rely = data.rely;
			task.milestone = data.milestone;
			$(gpb_tg_id).treegrid('refresh',task.id);
			gpb_resetParentTaskTime(task);
			gpb_resetReliedTaskTime(tid);

			if( !!callback ){
				callback(tid);
			}
		}
	});
}

</script>

