{% extends '../_base.html' %}

{% block headscript %}
<script type="text/javascript">

</script>
{% endblock %}


{% block main %}
<div id="login_win" style="display:none" >
	<div class="easyui-panel" data-options="fit:true">		
	   <form id="ff" method="post" style="padding:30px 40px;" >
			<div style="margin-bottom:20px">
				<input class="easyui-textbox" id="username" name="username" style="width:95%" data-options="label:'用户名:',required:true" autofocus>
			</div>
			<div style="margin-bottom:20px">
				<input class="easyui-passwordbox" id="password" name="password" style="width:95%" data-options="label:'密码:',required:true">
			</div>			
		</form>
		<div class="uk-text-center" style="margin-bottom:10px">
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="submitForm()" style="width:120px">登录</a>
		</div>
		<div id="web_explorer_suggest" class="uk-text-center" style="display:none"><span class="uk-text-warning">建议使用谷歌Chrome浏览器</span></div>
	</div>
</div>
{% endblock %}

{% block footerscript %}{% endblock %}

{% block readyscript %}
<script type="text/javascript">
$(function(){
	$('#login_win').window({
		title: "登录",
		width:500,
		height:250,
		modal:false,
		minimizable:false,
		maximizable:false,
		closable:false,
		collapsible:false,
		draggable: false,
		resizable: false
	});
	easyui_focus_input('username');
	easyui_enter_default_action('password', submitForm);
});

function submitForm(){
$('#ff').form('submit',{
	onSubmit: function(){
		var data = {
			username: $("#username").textbox('getValue'),
			password: $("#password").textbox('getValue')
		};
		var properties = {username:'用户名',password:'密码'};
		var vr = validateJsonObj('login', data, properties);
		if( vr === true ){
			
			//salt password
			data.password = CryptoJS.SHA1( data.password + "{{__salt__}}" + data.username ).toString();
			postJSON( '/api/authenticate', data, function(err, result){
					if( !err ){
						jumpToURL( result.redirect, 0);					
					}else{
						showErrorInfo( "登录失败", err.message );
					}
			});
		}else{
			showErrorInfo( '填写错误', vr );
		}
		return false;
	}
});
}

$(function(){
	if( navigator.userAgent.indexOf('Chrome') == -1){
		$('#web_explorer_suggest').show();
	}
});

</script>
{% endblock %}


