{% extends '../_base.html' %}

{% block headscript %}
<script type="text/javascript">
</script>
{% endblock %}


{% block main %}
<div id="reset_pwd_win" style="display:none" >
	<div class="easyui-panel" data-options="fit:true" style="padding:20px 20px;">
        <div style="margin-bottom:20px">
			<input class="easyui-textbox" id="username" name="username" style="width:95%" data-options="label:'用户名:',required:true, validType:'length[3,20]',prompt:'填写注册时使用的用户名'" autofocus>
		</div>
		<div style="margin-bottom:30px">
			<input class="easyui-textbox" id="email" name="email" style="width:95%" data-options="label:'邮箱:',required:true, validType:'email',prompt:'填写注册时使用的邮箱'">
		</div>
		<div class="uk-text-center" style="margin-bottom:10px">
			<a href="javascript:void(0)" class="easyui-linkbutton" onclick="wrp_submitForm()" style="width:120px">提交</a>
		</div>
</div>
{% endblock %}

{% block footerscript %}{% endblock %}

{% block readyscript %}
<script type="text/javascript">
$(function(){
	$('#reset_pwd_win').window({
		title: "重置密码",
		width:500,
		height:220,
		modal:false,
		minimizable:false,
		maximizable:false,
		closable:false,
		collapsible:false,
		draggable: false,
		resizable: false
	});
	easyui_focus_input('username');
});

function wrp_submitForm(){
	var data = {
		username: $("#username").textbox('getValue'),
		email: $("#email").textbox('getValue')
	};

	var tbfields = {username:'用户名',email:'邮箱'};
	if( !validateInputField(tbfields)){
		return false;
	}

	postJSON( '/api/user/resetpwd', data, function(err, result){
			if( !err ){
				showProgressInfo( '提示','重置成功。2秒后自动跳转到登录界面。', 2000);
				jumpToURL( '/login', 2000);				
			}else{
				showErrorInfo( "重置密码失败", err.message );
			}
	});
}

</script>
{% endblock %}


