<div id="win_edit_project" style="display:none">
	<div id="wepj_panel" class="" data-options="fit:true" style="padding:20px 20px;">
		<div style="margin-bottom:20px">
			<input class="" id="wepj_name" name="wepj_name" style="width:95%" data-options="label:'项目名称:',required:true,prompt:'请填写项目名称,3-50字符'">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wepj_master" name="wepj_master" style="width:95%" data-options="label:'项目负责人:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<select id="wepj_status" name="wepj_status" class="" style="width:95%" data-options="label:'项目状态:',required:true">
				<option value="ready">准备就绪</option>
				<option value="running">正在执行</option>
				<option value="end">已结束</option>
			</select>
		</div>
		
		<div style="margin-bottom:20px">
			<input class="" id="wepj_start_time" name="wepj_start_time" style="width:95%" data-options="label:'计划开始时间:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wepj_end_time" name="wepj_end_time" style="width:95%" data-options="label:'计划结束时间:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wepj_details" name="wepj_details" style="width:95%;height:60px" data-options="label:'项目说明:',required:true, multiline:true,prompt:'不可为空'">
		</div>
		<div class="uk-text-center">
			<a href="javascript:void(0)" id="wepj_btn_submit" class="" onclick="wepj_submitForm()" style="width:120px">修改</a>
		</div>
	</div>
</div>
<script type="text/javascript">
var wepj_init = false;
function wepj_initView(){
	if( !wepj_init ){
		wepj_init = true;
		$('#wepj_panel').panel({});
		$('#wepj_name').textbox({});
		$('#wepj_details').textbox({});
		$('#wepj_status').combobox({});
		$('#wepj_btn_submit').linkbutton({});

		$('#wepj_start_time').datebox({
			formatter:formatter_Date,
			parser:parser_DateMonth,
			editable:false
		});
		$('#wepj_end_time').datebox({
			formatter:formatter_Date,
			parser:parser_DateMonth,
			editable:false
		});
		$('#wepj_master').combobox({
			method:'get',
			url:'/api/team/member/list',
			valueField:'id',
			textField:'name',
			onLoadSuccess:function(){
				$('#wepj_master').combobox('select', gp_project.master_id);
			}
		});
	}
}

var gp_project = {};
function edit_project(p){
	gp_project = p;
	
	wepj_initView();
	$('#wepj_start_time').datebox('setValue', formatDate(p.start_time));	
	$('#wepj_end_time').datebox('setValue', formatDate(p.end_time));	
	$("#wepj_name").textbox('setValue', p.name );
	$("#wepj_details").textbox('setValue', p.details);
	$('#wepj_status').combobox('select', p.status);

	$('#win_edit_project').window({
		title: "修改项目",
		width:400,
		height:420,
		modal:true,
		minimizable:false,
		maximizable:false,
		collapsible:false,
		draggable: false,
		resizable: false
	});
}

function wepj_submitForm(){
	var data = {
		name: $("#wepj_name").textbox('getValue'),
		start_time: parser_DateMonth($('#wepj_start_time').datebox('getValue' )).getTime(),
		end_time: parser_DateMonth($('#wepj_end_time').datebox('getValue' )).getTime(),
		master_id: $("#wepj_master").combobox('getValue'),
		details: $("#wepj_details").textbox('getValue'),
		status: $("#wepj_status").combobox('getValue')
	};

	var properties = {name:'项目名称',start_time:'计划开始时间', end_time:'计划结束时间', master_id:'项目负责人', details:'项目说明', status:'项目状态'};
	var vr = validateJsonObj('createProject', data, properties);
	if( vr === true ){
		if(data.start_time >= data.end_time){
			showErrorInfo( "计划结束时间应该要晚于开始时间！" );
			return;
		}

		postJSON( '/api/project/p/'+gp_project.id , data, function(err, result){
				if( !err ){
					showInfo( '项目修改成功。');
					$('#win_edit_project').window( 'close');
					project_list_reload();
				}else{
					showErrorInfo( "项目修改失败", err.message );
				}
		});
	}else{
		showErrorInfo( '填写错误', vr );
	}
}
</script>