<div id="win_new_project" style="display:none">
	<div id="wnpj_panel" class="" data-options="fit:true" style="padding:20px 20px;">
		<div style="margin-bottom:20px">
			<input class="" id="wnpj_name" name="wnpj_name" style="width:95%" data-options="label:'项目名称:',required:true,validType:'length[3,50]',prompt:'请填写项目名称,3-50字符'">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wnpj_master" name="wnpj_master" style="width:95%" data-options="label:'项目负责人:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wnpj_start_time" name="wnpj_start_time" style="width:95%" data-options="label:'计划开始时间:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wnpj_end_time" name="wnpj_end_time" style="width:95%" data-options="label:'计划结束时间:',required:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wnpj_details" name="wnpj_details" style="width:95%;height:60px" data-options="label:'项目说明:',required:true, multiline:true,prompt:'不可为空'">
		</div>
		<div class="uk-text-center">
			<a href="javascript:void(0)" id="wnpj_btn_submit" class="" onclick="wnpj_submitForm()" style="width:120px">创建</a>
		</div>
	</div>
</div>
<script type="text/javascript">
var wnpj_init = false;
function wnpj_initView(){
	if( !wnpj_init ){
		wnpj_init = true;
		$('#wnpj_panel').panel({});
		$('#wnpj_name').textbox({});
		$('#wnpj_details').textbox({});
		$('#wnpj_btn_submit').linkbutton({});

		$('#wnpj_start_time').datebox({
			formatter:formatter_Date,
			parser:parser_DateMonth,
			editable:false
		});
		$('#wnpj_end_time').datebox({
			formatter:formatter_Date,
			parser:parser_DateMonth,
			editable:false
		});
		$('#wnpj_master').combobox({
			method:'get',
			url:'/api/team/member/list',
			valueField:'id',
			textField:'name',
			onLoadSuccess:function(){
				$('#wnpj_master').combobox('select', ENV.user.id);
			}
		});
	}
}

function new_project(){
	wnpj_initView();
	$('#wnpj_start_time').datebox('setValue', formatNow());	
	$("#wnpj_name").textbox('setValue', '');
	$("#wnpj_details").textbox('setValue', '');

	$('#win_new_project').window({
		title: "创建项目",
		width:400,
		height:360,
		modal:true,
		minimizable:false,
		maximizable:false,
		collapsible:false,
		draggable: false,
		resizable: false
	});
	easyui_focus_input('wnpj_name');
}

function wnpj_submitForm(){
	var end_time = $('#wnpj_end_time').datebox('getValue' );
	var data = {
		name: $("#wnpj_name").textbox('getValue'),
		start_time: parser_DateMonth($('#wnpj_start_time').datebox('getValue' )).getTime(),
		end_time: parser_DateMonth(end_time).getTime(),
		master_id: $("#wnpj_master").combobox('getValue'),
		details: $("#wnpj_details").textbox('getValue')
	};

	var tbfields = {wnpj_name:'项目名称', wnpj_details:'项目说明', wnpj_end_time:'计划结束时间'};
	if( !validateInputField(tbfields)){
		return false;
	}

	var properties = {name:'项目名称',start_time:'计划开始时间', end_time:'计划结束时间', master_id:'项目负责人', details:'项目说明'};
	var vr = validateJsonObj('createProject', data, properties);
	if( vr === true ){
		if(data.start_time >= data.end_time){
			showErrorInfo( "计划结束时间应该要晚于开始时间！" );
			return;
		}
		if( end_time == ''){
			showErrorInfo( "请填写结束时间！" );
			return;
		}

		postJSON( '/api/project/p', data, function(err, result){
				if( !err ){
					showInfo( '项目创建成功。');
					$('#win_new_project').window( 'close');
					project_list_reload();
				}else{
					showErrorInfo( "项目创建失败", err.message );
				}
		});
	}else{
		showErrorInfo( '填写错误', vr );
	}
}
</script>