<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'west',split:true,href:'/team/structure/tree'" title="成员列表" style="width:200px;"></div>
	<div data-options="region:'center',title:'工作日志'" style="padding:5px">
		<div class="easyui-layout" data-options="fit:true,border:false">
			<div data-options="region:'north',border:false">
				<h2 class="uk-text-center" style="margin-bottom:20px"><span id="teamdaily_user_name"></span>的工作日志</h2>
				<div class="easyui-layout" data-options="border:false,height:40" style="width:100%;height:40px;">
					<div data-options="region:'east', border:false" style="width:120px;">
						<a href="#" id="" class="easyui-linkbutton" data-options="" onclick="teamdaily_onNext()"><i class="uk-icon-angle-double-right"></i>后一工作日</a>
					</div>
					<div data-options="region:'west', border:false" style="width:120px;">
						<a href="#" id="" class="easyui-linkbutton" data-options="" onclick="teamdaily_onPrevious()"><i class="uk-icon-angle-double-left"></i>前一工作日</a>
					</div>
					<div data-options="region:'center', border:false" class="uk-text-center">
						<input id="teamdaily-date" class="" style="width:120px;">
					</div>
				</div>
			</div>
			<div data-options="region:'center',border:false">				
				<div class="easyui-panel" data-options="fit:true,border:false" >
					<table id="teamdaily-dg" class=""
							data-options="fit:true,singleSelect:true,fitColumns:true,onBeforeSelect:teamdaily_onBeforeSelectRow" style="display:none">
						<thead>
							<tr>
								<th data-options="field:'name',width:100">任务</th>
								<th data-options="field:'report',width:200,formatter:teamdaily_formatter_pre_report">当日工作</th>
								<th data-options="field:'org_plan',width:200,formatter:teamdaily_formatter_pre">原计划</th>
								<th data-options="field:'project_name',width:200,formatter:teamdaily_formatter_task_info">任务信息</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
var teamdaily_date = new Date();
var teamdaily_user;
function teamdaily_loadUserData(user){
	$('#teamdaily_user_name').text(user.name);
	getJSON( '/api/project/u/'+ user.id+'/daily', {date:teamdaily_date.getTime()}, function(err, data ){
		if(!err){
			for(var i = 0; i < data.length; i++ ){
				var r = data[i];
				r.report = r.daily.report;
				r.plan = r.daily.plan;
				r.org_plan = r.daily.org_plan;
			}
			$('#teamdaily-dg').datagrid({});
			if(data.length==0){
				data = [{ name:'无'}];
			}
			$('#teamdaily-dg').datagrid('loadData', data);
		}
	});
	
}

$(function(){
	$('#teamdaily-date').datebox({
		formatter:formatter_Date,
		parser:parser_DateMonth,
		onSelect: function(date){
			teamdaily_date = date;
			teamdaily_loadUserData(teamdaily_user);
			$('#teamdaily-date').datebox('setValue',formatter_Date(date));
		}
	});
	$('#teamdaily-date').datebox('setValue',formatNow());
});

function teamdaily_isValidData(r){
	return !!r.id;
}
function teamdaily_formatter_pre(value,row,index){
	if( !!value ){
		return '<pre class="dv-pre-clear" style="font-size:12px">' + value + '</pre>';
	}else{
		return teamdaily_isValidData(row) ?'未填写':'无';
	}
}
function teamdaily_formatter_pre_report(value,row,index){
	if( !!value ){
		return '<pre class="dv-pre-clear" style="font-size:12px">' + value + '</pre>'+ (row.daily.duration?'<span>用时:'+row.daily.duration+'小时</span>':'');
	}else{
		return teamdaily_isValidData(row) ?'未填写':'无';
	}
}
function teamdaily_formatter_task_info(value,row,index){
	if( teamdaily_isValidData(row) )
		return '<div>项目：' + row.project_name + '</div><div>审核人：'+ row.manager_name +'</div>';
	else
		return '无';
}

function teamdaily_toWorkday( day, offset ){
	day.setDate(day.getDate() +　offset);
	var dayTime = day.getTime();
	getJSON( '/api/date/isworkday', {year:day.getFullYear(), month: day.getMonth(), date: day.getDate() },
		 function(err, data ){
			if(!err){
				if( data === true ){
					teamdaily_date = day;
					teamdaily_loadUserData(teamdaily_user);
					 $('#teamdaily-date').datebox('setValue', formatter_Date(day));
				}else{
					teamdaily_toWorkday(day, offset);
				}
			}
		}
	);
}

function teamdaily_onPrevious(){
	var d = $('#teamdaily-date').datebox('getValue');
	var day = parser_DateMonth(d);
	teamdaily_toWorkday(day, -1);
}
function teamdaily_onNext(){
	var d = $('#teamdaily-date').datebox('getValue');
	var day = parser_DateMonth(d);
	teamdaily_toWorkday(day, 1);
}

function teamdaily_onBeforeSelectRow(index,row){
	return false;
}

function teamdaily_reload(){
	var d = $('#teamdaily-date').datebox('getValue');
	var day = parser_DateMonth(d);
	teamdaily_loadData(day.getTime());
}

function onStructureTreeSelectUser( user, node ){
	teamdaily_user = user;
	teamdaily_loadUserData(user);	
}
</script>
