<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8"/>
	<title>{% block title %} 研发项目管理系统 {% endblock %}</title>
	<meta name="viewport" content="width=device-width"/>
	<meta name="keywords" content="devohub project manage"/>
	{% block headmeta %} <!-- meta here --> {% endblock %}
	<!-- BEGIN CSS COMPRESS -->
	<!-- ENDCSS COMPRESS -->
	<link rel="stylesheet" type="text/css" href="/static/css/uikit.css">
	<link rel="stylesheet" type="text/css" href="/static/css/easyui/{{ __theme__ }}/easyui.css">
	<link rel="stylesheet" type="text/css" href="/static/css/easyui/icon.css">	
	{% block headcss %}<!-- css -->{% endblock %}
	{% if __production__ %}
	<script src="/static/js/all.js?v=2.0"></script>
	{% else %}
	<!-- BEGIN JAVASCRIPT COMPRESS -->
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/jquery.easyui.min.js"></script>
	<script src="/static/js/easyui-lang-zh_CN.js"></script>
	<script src="/static/js/jjv.js"></script>
	<script src="/static/js/form_schema.js"></script>	
	<script src="/static/js/sha1.min.js"></script>
	<!-- END JAVASCRIPT COMPRESS -->	
	{% endif %}
	<script src="/static/js/vendor.js?v=2.4"></script>
	{% block headscript %}<!-- head  -->{% endblock %}
	<script type="text/javascript">
		var ENV = {
			user: {
				id: "{{__request__.user.id}}",
				username: "{{__request__.user.username}}",
				name: "{{__request__.user.name}}",
				email: "{{__request__.user.email}}"
			}
		};
	</script>
</head>
<body>
	<div id="bodylayout" class="easyui-layout" data-options="fit:true,border:false">
		<div id="northregion" data-options="region:'north',border:false"-->
			{% block header %}
			<div id="header">
				<ul id="top" class="dv-navbar-nav uk-navbar-nav">
					<li><a href="/">项目管理系统</a></li>
					{% if __user__ %}
					<li><a href="/project/">项目</a></li>
					<li><a href="/team/">团队</a></li>
					{% endif %}
					{% if __user__.username == 'Admin' %}
					<li><a href="/manage/">manage</a></li>	        
					{% endif %}
				</ul>    	   					
				<ul class="dv-navbar-nav uk-navbar-nav" style="float:right;">
					{% if __user__ %}
					<li>
						<a href="#"  class="easyui-menubutton" data-options="menu:'#menu_user_setting',hasDownArrow:false" style="width:120px;padding-top:15px;border-width:0;background:#000"><span id="span_menu_user_name">{{ __request__.user.name }}</span><i class="uk-icon-caret-down"></i></a>
						<div id="menu_user_setting" style="width:150px;" data-options="onClick:menu_user_Handler">
							<div id="btn_changePassword" data-options="iconCls:'icon-edit'">{{ _('change password')}}</div>
							<div id="btn_changeInfo" data-options="iconCls:'icon-edit'">修改个人信息</div>
							<div class="menu-sep"></div>
							<div id="btn_viewhelp_login" data-options="iconCls:'icon-search'">查看帮助</div>
							<div id="btn_logout" data>{{ _('logout')}}</div>
						</div>
					</li>
					{% else %}
					<li><a href="/login" class="">{{ _('log in') }}</a></li>
					<li><a href="/signup" class="">{{ _('sign up') }}</a></li>					
					<li>
						<a href="#"  class="easyui-menubutton" data-options="menu:'#menu_login_other',hasDownArrow:false" style="width:100px;padding-top:26px;border-width:0;background:#000;"><span style="font-size:14px">其他</span><i class="uk-icon-caret-down"></i></a>
						<div id="menu_login_other" style="width:150px;" data-options="onClick:menu_login_Handler">
							<div id="btn_resetPassword" data-options="iconCls:'icon-edit'">重置密码</div>
							<div id="btn_viewhelp" data-options="iconCls:'icon-search'">查看帮助</div>
						</div>
					</li>
					{% endif %}
				</ul>
			</div>
			{% endblock %}
		</div>
		<div id="centerregion" data-options="region:'center',border:false">			
			{% block main %}		
			{% endblock %}
		</div>
		<div id="southregion" data-options="region:'south',border:false"-->
			<div id="footer">
				<div class="uk-width-medium-1-2 uk-container-center uk-text-center">
					<a href="" id="devohub-loves-you">devohub-loves-you</a>
				</div>
			</div>
		</div>		
	</div>
	{% if __user__ %}
	{% include './system/widget/change_password.html' %}
	{% include './system/widget/change_user_info.html' %}
	{% else %}
	<script type="text/javascript">
	function menu_login_Handler(item){
		if( item.id === 'btn_resetPassword'){
			var url = "/auth/user/ResetPassword";
			window.location.assign(url);
		}else if( item.id === 'btn_viewhelp'){
			window.location.assign("/help?file=/static/other/help.pdf");
		}
	}
	</script>
	{% endif %}
	
	{% block footerscript %}
	<script type="text/javascript">

	function menu_user_Handler(item){
		if( item.id == 'btn_logout'){
			var url = "/auth/signout?referer={{__request__.url}}";
			window.location.assign(url);
		}else if( item.id === 'btn_changePassword'){
			changeMyPassword();
		}else if( item.id === 'btn_changeInfo'){
			changeMyInfo();
		}else if( item.id === 'btn_viewhelp_login'){
			window.location.assign('/help?file=/static/other/help.pdf');
		}
	}

	$(function(){
		var paths = location.pathname.split('/'),
			subsys = '/' + paths[1] + '/';
		$("a[href='" + subsys + "']").parent().addClass('uk-active');
	});
	</script>
	{% endblock %}
	{% block readyscript %} {% endblock %}
</body>
</html>