<div id="win_change_user_info" style="display:none">
	<div id="wcui_panel" class="" data-options="fit:true" style="padding:20px 20px;">
		<div style="margin-bottom:20px">
			<input class="" id="wcui_username" name="wcui_username" style="width:95%" data-options="label:'用户名:',disabled:true">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wcui_name" name="wcui_name" style="width:95%" data-options="label:'中文名:',required:true, validType:'length[2,20]',prompt:'2-20字符'">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wcui_email" name="wcui_email" style="width:95%" data-options="label:'Email:',disabled:true">
		</div>
		<div class="uk-text-center">
			<a href="javascript:void(0)" id="wcui_btn_submit" class="" onclick="wcui_submitForm()" style="width:120px">修改</a>
		</div>
	</div>
</div>
<script type="text/javascript">
var wcui_init = false;
function wcui_initView(){
	if( !wcui_init ){
		wcui_init = true;
		$('#wcui_panel').panel({});
		$('#wcui_username').textbox({});
		$('#wcui_name').textbox({});
		$('#wcui_email').textbox({});
		$('#wcui_btn_submit').linkbutton({});
	}
}

function changeMyInfo(){
	wcui_initView();
	$('#win_change_user_info').window({
		title: "修改个人信息",
		width:400,
		height:240,
		modal:true,
		minimizable:false,
		maximizable:false,
		collapsible:false,
		draggable: false,
		resizable: false
	});
	$('#wcui_username').textbox('setValue', ENV.user.username);
	$('#wcui_name').textbox('setValue', ENV.user.name);
	$('#wcui_email').textbox('setValue', ENV.user.email);
	easyui_focus_input('wcui_name');
}

function wcui_submitForm(){
	var data = {
		name: $("#wcui_name").textbox('getValue')
	};
	var properties = {name:'中文名'};
	var vr = validateJsonObj('userEdit', data, properties);
	if( vr === true ){

		postJSON( '/api/user/'+ENV.user.id, data, function(err, result){
				if( !err ){
					showInfo( '个人信息修改成功。');
					$('#win_change_user_info').window( 'close');
					$('#span_menu_user_name').text(data.name);
					ENV.user.name = data.name;
				}else{
					showErrorInfo( "个人信息修改失败", err.message );
				}
		});
	}else{
		showErrorInfo( '填写错误', vr );
	}
}
</script>