<div id="win_change_password" style="display:none">
	<div id="wcp_panel" class="" data-options="fit:true" style="padding:20px 20px;">
		<div style="margin-bottom:20px">
			<input class="" id="wcp_org_pswd" name="wcp_org_pswd" style="width:95%" data-options="label:'原始密码:',required:true, validType:'length[6,20]'">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wcp_new_pswd" name="wcp_new_pswd" style="width:95%" data-options="label:'新密码:',required:true, validType:'length[6,20]',prompt:'6-20位，允许小写字母、大写字母和数字'">
		</div>
		<div style="margin-bottom:20px">
			<input class="" id="wcp_verifypassword" name="wcp_verifypassword" style="width:95%" data-options="label:'确认新密码:',required:true, validType:'length[6,20]',prompt:'6-20位，允许小写字母、大写字母和数字'">
		</div>
		<div class="uk-text-center">
			<a href="javascript:void(0)" id="wcp_btn_submit" class="" onclick="wcp_submitForm()" style="width:120px">修改</a>
		</div>
	</div>
</div>
<script type="text/javascript">
var wcp_init = false;
function wcp_initView(){
	if( !wcp_init ){
		wcp_init = true;
		$('#wcp_panel').panel({});
		$('#wcp_org_pswd').passwordbox({});
		$('#wcp_new_pswd').passwordbox({});
		$('#wcp_verifypassword').passwordbox({});
		$('#wcp_btn_submit').linkbutton({});
	}
}

function changeMyPassword(parent){
	wcp_initView();
	$('#win_change_password').window({
		title: "修改密码",
		width:400,
		height:240,
		modal:true,
		minimizable:false,
		maximizable:false,
		collapsible:false,
		draggable: false,
		resizable: false
	});
}

function wcp_submitForm(){
	var data = {
					oldpassword: $("#wcp_org_pswd").textbox('getValue'),
					newpassword: $("#wcp_new_pswd").textbox('getValue'),
					verifypassword: $("#wcp_verifypassword").textbox('getValue')
				};
	
	var properties = {oldpassword:'原始密码',newpassword:'新密码',verifypassword:'确认新密码'};
	var vr = validateJsonObj('changepsd', data, properties);
	if( vr === true ){
		//salt password
		delete(data['verifypassword']);
		data.oldpassword = CryptoJS.SHA1( data.oldpassword + "{{__salt__}}" + ENV.user.username ).toString();
		data.newpassword = CryptoJS.SHA1( data.newpassword + "{{__salt__}}" + ENV.user.username ).toString();
		postJSON( '/api/user/changepwd', data, function(err, result){
				if( !err ){
					showInfo( '密码修改成功。');
					$('#win_change_password').window( 'close');
				}else{
					showErrorInfo( "密码修改失败", err.message );
				}
		});
	}else{
		showErrorInfo( '填写错误', vr );
	}
}
</script>